---
import Container from "./Container.astro";

const links = [
	{
		text: "お問い合わせ",
		url: "/#contact",
		target: "_self",
	},
	{
		text: "活動を支援する",
		url: "/#support",
		target: "_self",
	},
	{
		text: "特定商取引法に基づく表記",
		url: "/policies/law/",
		target: "_self",
	},
];
---

<footer>
    <div class="bg-primary-light py-12">
        <Container>
            <div class="flex flex-col place-content-center space-y-8 text-center">
                <a href="/">
                    <img class="mx-auto h-auto w-48" src="/images/logo.png" alt="logo" />
                </a>
                <div class="flex flex-col space-y-4 text-3xl font-bold break-words">
                    <p>心動かされる瞬間を届ける</p>
                    <p>仕える喜びを</p>
                </div>
                <div class="mx-auto">
                    <ul class="grid w-fit grid-cols-2 gap-4 text-left">
                        {
                            links.map((link) => (
                                <li class="list-inside list-disc text-primary-dark">
                                    <a
                                        class="text-lg font-bold text-black underline underline-offset-4"
                                        href={link.url}
                                        target={link.target}
                                    >
                                        {link.text}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
        </Container>
    </div>
    <div class="py-2 text-center font-medium">
        <Container>
            <p>&copy; 2023 Mini Story. All rights reserved.</p>
        </Container>
    </div>
</footer>
