---
import { SOCIAL_LINK } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header class="mx-4 my-0 flex leading-normal">
    <span class="h-full flex-auto">
        <a href="/" class="m-2 block h-8">
            <img src="/images/logo.png" alt="ミニストーリー" class="h-full" />
        </a>
    </span>
    <nav class="flex items-center justify-center space-x-4">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href={SOCIAL_LINK.instagram} target="_blank">Instagram</HeaderLink>
        <HeaderLink href={SOCIAL_LINK.facebook} target="_blank">Facebook</HeaderLink>
    </nav>
</header>
