---
import Container from "./Container.astro";
---

<div class="mb-8 bg-primary-light py-8">
    <Container>
        <h1 class="text-center text-2xl leading-loose font-bold">
            <slot />
        </h1>
    </Container>
</div>
