---
interface Props {
	subtitle?: string;
}

import Container from "./Container.astro";

const { subtitle = "" } = Astro.props;
---

<div class="m-4 text-center">
    <Container>
        <span class="text-base font-bold text-primary uppercase">
            {subtitle}
        </span>
        <h2 class="text-3xl font-bold break-words">
            <slot />
        </h2>
    </Container>
</div>
