---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Top from '../layouts/Top.astro';
import WhoWeAre from '../layouts/WhoWeAre.astro';
import Contact from '../layouts/Contact.astro';
import Support from '../layouts/Support.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import WhatWeDoing from '../layouts/WhatWeDoing.astro';
---

<!DOCTYPE html>
<html lang="ja">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <main>
            <Top />
            <WhoWeAre />
            <WhatWeDoing />
            <Support />
            <Contact />
        </main>
        <Footer />
    </body>
</html>
