---
name: checks

on:
  pull_request: ~
  merge_group: ~

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'pnpm'

      - name: Resolve Dependencies
        run: pnpm install --frozen-lockfile

      - name: Check code
        run: pnpm check

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'pnpm'

      - name: Resolve Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm --filter=web run build
