---
name: checks

on:
  pull_request: ~
  merge_group: ~

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'pnpm'

      - name: Resolve Dependencies
        run: pnpm install --frozen-lockfile
        env:
          HUSKY: 0

      - name: Check code
        run: pnpm --filter=web run lint

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'pnpm'

      - name: Resolve Dependencies
        run: pnpm install --frozen-lockfile
        env:
          HUSKY: 0

      - name: Build
        run: pnpm --filter=web run build
