---
import Container from '../components/Container.astro';
import SectionTitle from '../components/SectionTitle.astro';
---

<section id="about" class="my-8">
    <Container>
        <SectionTitle subtitle="who we are">ミニ・ストーリーとは</SectionTitle>
        <p class="text-center leading-loose">
            ミニ・ストーリーは
            <br />
            「見た人の心が動かされる瞬間を作りたい」
            <br />
            「クリスチャンが喜び仕える機会を作りたい」
            <br />
            という2つの目的のもとに2022年5月に始まった
            <br />
            出張パフォーマンスミニストリーです
        </p>
    </Container>
</section>
