---
import Container from '../components/Container.astro';
import SectionTitle from '../components/SectionTitle.astro';
import FaqCard from '../components/FaqCard.astro';

const faqs = [
    {
        question: '公演を依頼したいのですが、時期や曜日・時間の指定はありますか？',
        answer: 'ミニ・ストーリーは年に何回かの公演期間(Season)を設けており、主に公演期間内の土曜日午前・午後で開催をお引き受けしています。公演期間外や平日開催をご希望の場合も一度検討させていただきますので、まずはお問い合わせください。',
    },
    {
        question: '費用はかかりますか？',
        answer: '現在は原則無料で公演をお引き受けしていますが、今後の運営状況や開催場所の所在地によっては交通費やその他費用をいただく場合もございます。ご承知おきください。',
    },
    {
        question: 'ミニ・ストーリーはキリスト教の団体ですか？公演の内容にもキリスト教の要素が含まれるのでしょうか？',
        answer: 'ミニ・ストーリーはクリスチャンのメンバーを中心に活動しており、プロテスタントのキリスト教の考えを土台としています。ただ、公演内容については、主催者様のご希望に合わせて、キリスト教の要素を含まずに開催することも可能です。',
    },
];
---

<section id="faq" class="my-8">
    <SectionTitle subtitle="faq">よくある質問</SectionTitle>
    <Container>
        {
            faqs.map((faq) => (
                <div class="my-12">
                    <FaqCard {...faq} />
                </div>
            ))
        }
    </Container>
</section>
