---
import Container from '../components/Container.astro';
import EyeCatch from '../components/EyeCatch.astro';
import Paragraph from '../components/Paragraph.astro';
import SectionTitle from '../components/SectionTitle.astro';
---

<section id="who-we-are" class="my-8">
    <Container>
        <SectionTitle subtitle="who we are">ミニ・ストーリーとは</SectionTitle>
        <EyeCatch src="images/key_visual-4.png" alt="集合写真" />
        <Paragraph>
            ミニ・ストーリーは、「見た人の心が動かされる瞬間を作りたい」「クリスチャンが喜び使える機会を作りたい」という2つの目的のもとに始まった、出張パフォーマンスミニストリーです。
        </Paragraph>
        <Paragraph>
            仲間と共に一つのショーを作り上げ、幼稚園や保育園、学童、子ども食堂、教会などで公演を行っています。
        </Paragraph>
    </Container>
</section>
